.carousel{
    padding-top: 10px * 5;
}
.carousel-item img{
        display: block;
        margin: 0 auto;
}
.desc-info{
    font-family: Montserrat medium;
    color: #353853;
    padding-top: 50px;
}
.btn-descu{
    padding-top: 20px;
}
